{% extends 'base.html' %}


{% block title %}
{{ article.title }}
{% endblock title %}

{% block content %}
<div class="card">
    {% if article.image %}
    <img src="{{ article.image.url }}" class="card-img-top object-fit-contain" alt="..." height="200">
    {% else %}
    <img src="" class="cart-img-top" alt="">
    {% endif %}

    <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">{{ article.description|truncatechars:150 }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Создано в: <b>{{ article.created_at.time }}</b>
        </li>
        <li class="list-group-item">
            Обновлено в: <b>{{ article.updated_at.time }}</b>
        </li>
        <li class="list-group-item">
            Автор: <b>{{ article.author }}</b>
        </li>
        <li class="list-group-item">
            Категория: <b>{{ article.category }}</b>
        </li>
        <li class="list-group-item">
            Кол-во просмотров: <b>{{ article.views }}</b>
        </li>
    </ul>
    <div class="card-body justify-content-between d-flex">
        <a href="{% url 'update' article.pk %}" class="card-link btn btn-warning">Изменить</a>
        <a href="{% url 'delete' article.pk %}" class="card-link btn btn-danger">Удалить</a>
    </div>
</div>


<div class="mt-4">
    {% if request.user.is_authenticated %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-dark mt-4 mb-4">Отправить</button>
    </form>
    {% else %}
    <p>Чтобы написать комментарий, <a href="{% url 'login' %}">зайдите в свой аккаунт</a></p>
    {% endif %}


    {% for comment in comments %}
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            {{ comment.created_at }}
            <div>
                {% if request.user == article.author %}
                <a href="{% url 'edit_comment' comment.pk %}" class="text-warning text-decoration-none fs-5 me-2">
                    <i class="bi bi-pencil"></i>
                </a>
                <a href="{% url 'del_comment' comment.pk %}" class="text-danger text-decoration-none fs-5">
                    <i class="bi bi-trash3"></i>
                </a>
                {% else %}
                <a href="" class="text-success text-decoration-none fs-5 me-2">
                    <i class="bi bi-hand-thumbs-up"></i>
                </a>
                <a href="" class="text-danger text-decoration-none fs-5">
                    <i class="bi bi-hand-thumbs-down"></i>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{ comment.author }}</p>
                <footer class="blockquote-footer">
                    <cite>{{ comment.content }}</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
